### What we used 

1. df.head() , df.info() , df.describe()  -> To inspect data
2. df.skew(numeric_only=True) - To check skweness of each coulmn. it use (Fisher-Pearson standardized)
3. df[df.duplicated()] -> To check duplicatae value
4. df.isnull().sum() -> To check null value
5. df['ID'].unique()  -> To check unique value in a perticular coulmn

In [128]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Load the dataset and get an overview
df = pd.read_csv('cleaned_data.csv')

#step 2:- Get an overview of the dataset or inspect the data

#head() Display the first few rows of the dataset, #default is 5 rows, if we want to see more we can write data.head(10) for 10 rows
df.head()

,ID,Name,Email,Phone,JoinDate,LastLogin,Age,Country,Category,Qty,Price,Total,Review,Rating,Returned,VIP
0,1,Alice,alice@mail.com,123-456-7890,01/05/2025,2025-05-02 10:00,25,USA,Widgets,3.0,19.99,59.97,Love it!,5.0,No,Yes
1,2,Bob,bob AT mail.com,123456789,2025/01/06,06-01-2025,30,United States,gadgets,1.0,49.5,49.5,NaN,NaN,False,False
2,3,Charlie,charlie@mail.com,(123)456-7890,05-01-2025,2025/01/05,NaN,US,widget a,NaN,19.99,NaN,ok,3.0,no,Yes
3,1,Alice,alice@mail.com,123-456-7890,1-5-2025,05-01-2025,25,USA,Widgets,3.0,19.99,59.97,love it!,5.0,no,Yes
4,4,Dana,NaN,123-456,07/02/2025,2025/02/07,40,UK,Things,2.0,5,10,bad quality,1.0,Yes,No

In [129]:
#info() gives us the data types of each column and non-null counts

#non-null count- How many non-missing values there are in this column.
#data types- The type of data in each column (like int, float, object, etc.)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         10 non-null     int64
 1   Name       10 non-null     object
 2   Email      9 non-null      object
 3   Phone      9 non-null      object
 4   JoinDate   10 non-null     object
 5   LastLogin  10 non-null     object
 6   Age        9 non-null      object
 7   Country    10 non-null     object
 8   Category   10 non-null     object
 9   Qty        9 non-null      float64
 10  Price      9 non-null      object
 11  Total      8 non-null      object
 12  Review     9 non-null      object
 13  Rating     8 non-null      float64
 14  Returned   8 non-null      object
 15  VIP        9 non-null      object
dtypes: float64(2), int64(1), object(13)
memory usage: 1.4+ KB

In [130]:
#describe() gives us summary statistics for numerical columns(like mean, std, min, max, etc.)

#count- How many non-missing values there are in this column. it tells total number of columns are there and how many of them are missing values.
#mean= The average (mean) value of the each column.
#std= How spread out the numbers are from the mean.
 #example:-
  #Rating column data:- 
    #Mean (average) = 3.625
    #Std = 1.505  (std formula is sqrt(sum((x - mean)^2) / n) where x is each value, mean is the average, and n is the number of values.)
        #Lower bound = 3.625(mean) âˆ’ 1.505(std) â‰ˆ 2.12
        #Upper bound = 3.625(mean) + 1.505(std) â‰ˆ 5.13
        #So, most ratings are likely between 2.12 and 5.13, Rating outside this range 2.12 and 5.13  â†’ is potential outlier
        # |----2.12----Mean=3.625----5.13----|

        # over all summmary of std is  :- Smaller std â†’ ratings very close to mean â†’ consistent customer feedback and Larger std â†’ ratings very different â†’ inconsistent feedback, it indicates that customers have varying opinions about the product or service.
#25% (First Quartile / Q1)- The value below which 25% of the data falls.
#50% (Median / Q2)- The middle value of the data when sorted.
#75% (Third Quartile / Q3)- The value below which 75% of the data falls.
#min- The smallest value in the column.
#max- The largest value in the column.
df.describe()

              ID        Qty    Rating
count  10.000000   9.000000  8.000000
mean    4.600000   6.220000  3.625000
std     2.875181  12.748553  1.505941
min     1.000000   0.000000  1.000000
25%     2.250000   1.000000  2.750000
50%     4.500000   2.000000  4.000000
75%     6.750000   3.000000  5.000000
max     9.000000  39.980000  5.000000

In [131]:
# check skewness of the data

#skewness- It measures the asymmetry of the data distribution.
#skewness > 0 â†’ right-skewed (long tail on the right)
#skewness < 0 â†’ left-skewed (long tail on the left)
#skewness = (mean - median) / std
#skewness = 3.625(mean) - 3.0(median) / 1.505(std) â‰ˆ 0.42
#Since skewness is positive (0.42), the ratings are slightly right-skewed, indicating that there are more ratings above the mean than below it, but the distribution is not highly skewed.

#it shows that the ratings are slightly right-skewed, with more ratings above the mean (3.625) than below it, but the distribution is not highly skewed.
# for all the columns we can check skewness by using skew() function
skewness = df.skew(numeric_only=True)
print(skewness) 

#if skewness value is greater than 1 or less than -1 then we can say that the data is highly skewed.

#how calulate skewness  value using pandas skew() function
#skewness = df['Rating'].skew() for perticular column
#print(skewness)

#what formula is used to calculate skewness in pandas skew() function?
#Pandas uses the Fisher-Pearson standardized moment coefficient formula to calculate skewness.

ID        0.151463
Qty       2.921639
Rating   -0.820896
dtype: float64

In [132]:
# step1:-  handle duplicates
#show duplicate rows
df[df.duplicated()]

#drop duplicate rows
df.drop_duplicates(inplace=True)

### Step 1: Remove duplicates

In [133]:

#step1:- check duplicate with column ID because ID column should be unique for each customer, if we have duplicate values in ID column it means we have duplicate rows in our dataset.

#check duplicate values in ID column
df[df.duplicated(subset=['ID'], keep=False)]  #if a column have duplicate , it will also bring with whome it is duplicated . keep=False will show all the duplicate rows, including the original and the duplicates. 

#drop the duplicate rows based on ID column
df.drop_duplicates(subset=['ID'], inplace=True)

 # check distinct values in ID column
df['ID'].unique()

#checked missing values, No missing values found  in clomn ID
df.isnull().sum()

ID           0
Name         0
Email        1
Phone        1
JoinDate     0
LastLogin    0
Age          1
Country      0
Category     0
Qty          1
Price        1
Total        2
Review       1
Rating       2
Returned     2
VIP          1
dtype: int64

### Step 2: Fix emails

In [134]:


#step 3:- Identify and handle missing values
#check missing values
df.isnull().sum()

#fix missing value in email column by filling with 'NO mail'
df['Email'].fillna('NO mail', inplace=True)

#check distinct values in email column
df['Email'].unique() 

#Found different one formate incorrect email ids  " 'bob AT mail.com', 'carol.mail.com', 'dave@mail', 'eve@mail..com' "
def clean_email(email):
    if pd.isna(email):  #isna() function is used to check if the value is missing (NaN) or not. It returns True if the value is NaN and False otherwise.
        return np.nan
    
    email = email.lower().strip()
    email = email.replace(' at ', '@')
    email = email.replace('..', '.')
    
    pattern = r'^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$'  #regex pattern for valid email address
    return email if pd.Series(email).str.match(pattern)[0] else 'No mail'  # will replace nan with 'No mail' if the email is invalid

df['Email'] = df['Email'].apply(clean_email)


df['Email'].unique()

/var/folders/l5/brjnv_593qdf8cbh4v4ch0840000gn/T/ipykernel_24193/3680817775.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna('NO mail', inplace=True)

array(['alice@mail.com', 'bob@mail.com', 'charlie@mail.com', 'No mail',
       'ernie@mail.com', 'frank@mail.com', 'henry@mail.com',
       'ida@mail.com'], dtype=object)

### Step 3:Fix phone numbers (pending)

In [141]:
#step 3:- Identify and handle missing values
#check missing values
df.isnull().sum()

#check distinct values in phone number column
df['Phone'].unique()

#found one formate of incorrect phone number " 123-456-7890', '123456789', '(123)456-7890', '123-456', '+44 123 456 789', '2025-07-04', nan "

#Step1: Convert to string safely.it wll Prevents errors during string operations.

df['Phone'] = df['Phone'].astype(str).str.strip()
df['Phone'] = df['Phone'].replace('nan', np.nan)

#step2: ðŸ”¹ Step 3.3: Remove unwanted characters (keep digits & +)
df['Phone_clean'] = df['Phone'].str.replace(r'[^0-9+]', '', regex=True) # (123)456-7890 â†’ 1234567890, +44 123 456 789 â†’ +44123456789

#Step 3: Remove date values wrongly stored as phone
df['Phone_clean'] = df['Phone_clean'].where(
    ~df['Phone_clean'].str.match(r'^20\d{6}$', na=False)
    
)

#step4: Step 3.5: Validate & format phone numbers (MAIN LOGIC)
def format_phone(phone):
    if pd.isna(phone):
        return np.nan

    # UK number
    if phone.startswith('+44'):
        digits = phone.replace('+44', '')
        if 9 <= len(digits) <= 10:
            return f'+44-{digits[:4]}-{digits[4:]}'
        return np.nan

    # US number
    if phone.isdigit() and len(phone) == 10:
        return f'+1-{phone[:3]}-{phone[3:6]}-{phone[6:]}'

    return np.nan


#Apply the formatting function to the cleaned phone numbers
df['Phone'] = df['Phone_clean'].apply(format_phone)
df.drop(columns='Phone_clean', inplace=True)

df['Phone'].unique()

df.isnull().sum()  # found 8 missing value

#handle missing value in phone column by filling with 'No phone'
df['Phone'].fillna('No phone', inplace=True)

df.isnull().sum()

/var/folders/l5/brjnv_593qdf8cbh4v4ch0840000gn/T/ipykernel_24193/4186202431.py:52: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Phone'].fillna('No phone', inplace=True)

ID           0
Name         0
Email        0
Phone        0
JoinDate     0
LastLogin    0
Age          1
Country      0
Category     0
Qty          1
Price        1
Total        2
Review       1
Rating       2
Returned     2
VIP          1
dtype: int64

### Step 4: Standardize dates

In [148]:
#step 3:- Identify and handle missing values
#check missing values
df.isnull().sum()

#No missing values found in our dataset, so we can move to next step.

#step 4: Standardize dates
#check distinct values in date column
df['JoinDate'].unique()

# found different formate of incorrect date " '2025-07-04', '2024/08/15', '15-09-2023', '2023.10.01', '2023-11-30', '2023/12/25' "
#standardize date format to YYYY-MM-DD

#Step 1: Convert column to string safely. it will Avoid parsing errors when formats are mixed.
df['JoinDate'] = df['JoinDate'].astype(str).str.strip()
df['JoinDate'] = df['JoinDate'].replace('nan', pd.NaT)

#Step 2: Parse dates with multiple formats
df['JoinDate'] = pd.to_datetime( df['JoinDate'], errors='coerce', dayfirst=True) # dayfirst=True resolves ambiguity (05-01-2025 â†’ 5 Jan), Pandas automatically handles: 2025/01/06,2025-07-02,July 3, 2025

#Step 3: Standardize display format (optional but recommended)
df['JoinDate'] = df['JoinDate'].dt.strftime('%Y-%m-%d')  

df['JoinDate'].unique()

#check missing values
df.isnull().sum()

#handle missing values 
df['JoinDate'].fillna('No date', inplace=True)

df.isnull().sum()

/var/folders/l5/brjnv_593qdf8cbh4v4ch0840000gn/T/ipykernel_24193/947579494.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['JoinDate'].fillna('No date', inplace=True)

ID              0
Name            0
Email           0
Phone           0
JoinDate        0
LastLogin       0
Age             1
Country         0
Category        0
Qty             1
Price           1
Total           2
Review          1
Rating          2
Returned        2
VIP             1
DaJoinDatete    7
dtype: int64

### # Qty

In [153]:
# check missing values
df.isnull().sum()

#check unique values in Qty column
df['Qty'].unique()

#handle missing value 
df["Qty"] = pd.to_numeric(df["Qty"], errors="coerce").fillna(0)

df.isnull().sum()

ID              0
Name            0
Email           0
Phone           0
JoinDate        0
LastLogin       0
Age             1
Country         0
Category        0
Qty             0
Price           1
Total           2
Review          1
Rating          2
Returned        2
VIP             1
DaJoinDatete    7
dtype: int64

### #Price

In [ ]:
#step 3:- Identify and handle missing values
#check missing values
df.isnull().sum()

#check unique values in Price column
df['Price'].unique()


#handle missing value, found Non-numeric value abc in Price column
df["Price"] = pd.to_numeric(df["Price"], errors="coerce") #This will convert valid numbers to numeric and non-numeric values (like 'abc') to NaN.

df['Price'].unique()

#handle missing value by filling with 0
df['Price'].fillna(0, inplace=True)

/var/folders/l5/brjnv_593qdf8cbh4v4ch0840000gn/T/ipykernel_24193/2814904854.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0, inplace=True)

array([19.99, 49.5 ,  5.  ,  0.  , 12.  ])

### #Total

In [168]:
#check missing values
df.isnull().sum()

#check unique values in Total column
df['Total'].unique()

#fond Missing and Incorrect values in Total column, found Non-numeric value 'xyz' in Total column
df["Total"] = pd.to_numeric(df["Total"], errors="coerce") #This will convert valid numbers to numeric and non-numeric values (like 'xyz') to NaN.
df['Total'].unique()

df["Total"] = df["Qty"] * df["Price"]

df['Total'].unique()

array([59.97, 49.5 ,  0.  , 10.  , 60.  ])

### Review column

In [173]:
#check missing values
df.isnull().sum()

#check unique values in Total column
df['Review'].unique()

#handle missing value by filling with 'No review'
df['Review'].fillna('No review', inplace=True)

df.isnull().sum()

ID              0
Name            0
Email           0
Phone           0
JoinDate        0
LastLogin       0
Age             1
Country         0
Category        0
Qty             0
Price           0
Total           0
Review          0
Rating          2
Returned        2
VIP             1
DaJoinDatete    7
dtype: int64

### Rating Coulmn

In [176]:
#check missing values
df.isnull().sum()

#check unique values in Rating column
df['Rating'].unique()

# found missing values in Rating column, handle missing value by filling with mean rating
df["Rating"] = pd.to_numeric(df["Rating"], errors="coerce")
df["Rating"] = df["Rating"].fillna(df["Rating"].median()) #filling missing values with median is better than mean because median is less affected by outliers than mean.
df['Rating'].unique()

array([5., 4., 3., 1., 2.])

### Returned column

In [180]:
#check missing values
df.isnull().sum()

#check unique values in Total column
df['Returned'].unique()

#found missing values in "No', 'False', 'no', 'Yes', 'false', nan, 'Y'""
#standardize values to 'Yes' and 'No'
df['Returned'] = df['Returned'].str.strip().str.lower()  # Remove leading/trailing spaces and convert to lowercase
df['Returned'] = df['Returned'].replace({'no': 'No', 'false': 'No', 'yes': 'Yes', 'y': 'Yes'})  # Standardize to 'Yes' and 'No'
df['Returned'].unique()

#handle missing value by filling with 'No'
df['Returned'].fillna('No', inplace=True)
df.isnull().sum()

/var/folders/l5/brjnv_593qdf8cbh4v4ch0840000gn/T/ipykernel_24193/5803756.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Returned'].fillna('No', inplace=True)

ID              0
Name            0
Email           0
Phone           0
JoinDate        0
LastLogin       0
Age             1
Country         0
Category        0
Qty             0
Price           0
Total           0
Review          0
Rating          0
Returned        0
VIP             1
DaJoinDatete    7
dtype: int64

### VIP column

In [188]:
#step 3:- Identify and handle missing values
#check missing values
df.isnull().sum()

#check unique values in Price column
df['VIP'].unique()

#found missing values in "No', 'False', 'no', 'Yes', 'false', nan, 'Y'""
#standardize values to 'Yes' and 'No'
df['VIP'] = df['VIP'].str.strip().str.lower()  # Remove leading/trailing spaces and convert to lowercase
df['VIP'] = df['VIP'].replace({'no': 'No', 'false': 'No', 'true': 'Yes' ,'yes': 'Yes', 'y': 'Yes'})  # Standardize to 'Yes' and 'No'
df['VIP'].unique()

#handle missing value by filling with 'No'
df['VIP'].fillna('No', inplace=True)
df.isnull().sum()

df['VIP'].unique()

/var/folders/l5/brjnv_593qdf8cbh4v4ch0840000gn/T/ipykernel_24193/917947371.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VIP'].fillna('No', inplace=True)

array(['Yes', 'No'], dtype=object)

### Fimal validation

In [189]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 9
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9 non-null      int64
 1   Name          9 non-null      object
 2   Email         9 non-null      object
 3   Phone         9 non-null      object
 4   JoinDate      9 non-null      object
 5   LastLogin     9 non-null      object
 6   Age           8 non-null      object
 7   Country       9 non-null      object
 8   Category      9 non-null      object
 9   Qty           9 non-null      float64
 10  Price         9 non-null      float64
 11  Total         9 non-null      float64
 12  Review        9 non-null      object
 13  Rating        9 non-null      float64
 14  Returned      9 non-null      object
 15  VIP           9 non-null      object
 16  DaJoinDatete  2 non-null      object
dtypes: float64(4), int64(1), object(12)
memory usage: 1.3+ KB

ID              0
Name            0
Email           0
Phone           0
JoinDate        0
LastLogin       0
Age             1
Country         0
Category        0
Qty             0
Price           0
Total           0
Review          0
Rating          0
Returned        0
VIP             0
DaJoinDatete    7
dtype: int64

In [192]:
# remove DaJoinDatete column
#df.drop(columns=['DaJoinDatete'], inplace=True)

df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 9
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         9 non-null      int64
 1   Name       9 non-null      object
 2   Email      9 non-null      object
 3   Phone      9 non-null      object
 4   JoinDate   9 non-null      object
 5   LastLogin  9 non-null      object
 6   Age        8 non-null      object
 7   Country    9 non-null      object
 8   Category   9 non-null      object
 9   Qty        9 non-null      float64
 10  Price      9 non-null      float64
 11  Total      9 non-null      float64
 12  Review     9 non-null      object
 13  Rating     9 non-null      float64
 14  Returned   9 non-null      object
 15  VIP        9 non-null      object
dtypes: float64(4), int64(1), object(11)
memory usage: 1.2+ KB

ID           0
Name         0
Email        0
Phone        0
JoinDate     0
LastLogin    0
Age          1
Country      0
Category     0
Qty          0
Price        0
Total        0
Review       0
Rating       0
Returned     0
VIP          0
dtype: int64